/* Color design tokens */
:root {
  /* Base colors */
  --color-yellow-base: #fcba28;
  --color-green-base: #0ba95b;
  --color-cream-base: #f9f4da;
  --color-blue-base: #12b5e5;
  --color-red-base: #ed203d;
  --color-orange-base: #fc7428;
  --color-pink-base: #f38ba3;
  --color-purple-base: #7b5ea7;
  
  /* Text-safe accent colors (inherited by themes) */
  --color-accent-1-astext: var(--color-yellow-base);
  --color-accent-2-astext: var(--color-green-base);
  --color-accent-3-astext: var(--color-cream-base);
  --color-accent-4-astext: var(--color-blue-base);
  --color-accent-5-astext: var(--color-red-base);
  --color-accent-6-astext: var(--color-orange-base);
  --color-accent-7-astext: var(--color-pink-base);
  --color-accent-8-astext: var(--color-purple-base);
}